body{
    background-color: rgb(203, 129, 221);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.roxo{
    height: 600px;
    width: 50%;
    background-color: rgb(129, 82, 165);
    margin: auto;
    border-radius: 10%;
}

a p{
    background-color: rgb(63, 63, 119);
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: rgb(223, 255, 255);
    
}